<div
  [ngClass]="{
    'overflow-hidden h-16 mt-2 mb-2 flex items-center justify-between  px-2 pr-8 relative': true,
    'justify-between': title !== undefined && title !== null && title !== '',
    'justify-end': !title || title === ''
  }"
>
  <div>
    <app-header-search
      [searchPlaceholder]="'Search'"
    ></app-header-search>
  </div>

  <div *ngIf="title !== ''" class="flex gap-4 items-center relative">
    <div>
      <img src='assets/Images/Admin.svg' />
    </div>
    <div>
      <p class="{text-[23px] font-bold text-[#212121] }">
        {{ title }}
      </p>

      <p *ngIf="semiTitle !== ''" class="text-[#A4A4A4]">{{ semiTitle }}</p>
    </div>
  </div>
</div>
