<div class="header">
  <!-- Header content goes here -->
  <app-header [title]="" ></app-header>
</div>
<div class="w-auto overflow-x-hidden">
  <div class="flex flex-wrap justify-center gap-12">
    <app-admin-cards></app-admin-cards>
    <app-admin-cards></app-admin-cards>
    <app-admin-cards></app-admin-cards>
    <app-admin-cards></app-admin-cards>
  </div>
  <div class="flex w-100 justify-between gap-4 mt-4">
    <div class="w-[50%]" *ngIf="userTableHeader.length">
      <app-table [tableHeader]="'Users'"[ColumnHeader]="userTableHeader"[records]="total" (pageEvent)="recievePageData($event)"></app-table>
    </div>
    <div class="w-[50%] ">
      <div class="flex justify-between px-2">
        <p class="font-semibold pt-3 pl-3 overflow-hidden">Revenue</p>
        <app-dropdown></app-dropdown>
      </div>
      <div 
      class="!h-auto  overflow-y-auto"
      >
        <apx-chart
        [grid]="chartOptions.grid"
        [fill]="chartOptions.fill"
        [markers]="chartOptions.markers"
        [stroke]="chartOptions.stroke"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [title]="chartOptions.title"
      ></apx-chart>
      </div>

    </div>
  </div>

  <div class="flex w-100 justify-between gap-4 mt-4 mb-9">
    <div class="w-[100%]"  *ngIf="productTableData.length">
      <app-table [tableHeader]="'Products'" [ColumnHeader]="productTableData" [records]="prodTotal" (pageEvent)="recieveProdPageData($event)"></app-table>
    </div>
   
  </div>
</div>
